.vx-order{
    width: 98%;
    transition: all 1s;
    border:1px solid #409eff;
    margin-right: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    .vx-order-info{
        height: 50px;
        background-color: #bde6f1;
        ul{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 10px;
            color: #333;
            li{
                flex: 1;
            }
        }
    }
    .vx-order-tab-link{
        font-weight: 500;
        color: #333;
        cursor: pointer;
        font-size: 1rem;
    }
    .vx-order-tab-link:hover{
        color: #409eff;
        text-decoration: underline;
        transition: all .3s;
    }
    .vx-order-preview{
        width: 100px;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}