.vx-keybord
    .vx-keybord-title
        width 100%
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;
        border-bottom: 1px solid #edeff2;
        span
            font-size 1.4rem
            font-weight: 500;
            margin auto
        i
            cursor: pointer;
            color #939ba6
            font-size: 1.2rem;
            font-weight: 600;
            &:hover
                color #126aff
    ul
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        li
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
            span
                width: 180px;
                height: 40px;
                background: #eff2f7;
                border-radius: 2px;
                text-align: center;
                line-height 40px
                cursor: text;
                