
.vx-upload
    padding 0 1rem
    .vx-upload-button
        display: flex;
        justify-content: center;
        align-items: center;
        color: #409EFF;
        background: #ebf3ff;
        border-color: #d4dffd;
        height: 4rem;
        width: 20rem;
        margin-top: 2rem;
        cursor: pointer;
        border: 1px solid rgba(34,84,244,.12);
        border-radius: 4px;
        font-weight: 600;