.vx-color-picker
    position relative
    height 2.5rem
    .vx-color-context
        border-radius 6px
        color #333
        border 1px solid #e0e5ea
        cursor pointer
        display: inline-block
        width 100%
        height 100%
    .vx-color-select__panel
        z-index 10
    .vx-color-transparent
        background-image: linear-gradient(to top right, #ccc 25%, transparent 0, transparent 75%, #ccc 0, #ccc), linear-gradient(to top right, #ccc 25%, transparent 0, transparent 75%, #ccc 0, #ccc);
        background-size: 12px 12px;
        background-position: 0 0, 6px 6px;
        
